@page
@model IndexModel
@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Techserverglobal </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">servertecholab</a>.</p>
</div>
