@page
@model IndexModel
@{
    ViewData["Title"] = "Main Page updated after change";
}

<div class="text-center">
    <h1 class="display-4">Updated Dotnetcore </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">servertecholab</a>.</p>
</div>
